/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  height: 497px;
  background: url('../../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

.container text-center {
  margin-bottom: 50px;
  width: 200px;
}
